@use 'common' as common;
.cards{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   flex-direction: column;
   margin: auto;
}

.card__element{
    width: 99%;
    height: 300px;
    border-color: common.$card-borderColor;
    border-style: solid;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: justify;
}

.card_tittle{
  text-align: left;
}

.card-login{
  display: flex;
  flex-direction: column;
}

.card__text{
 
  text-align: justify;
}

.card__onLeft{
  width: 50%;
  
}