/*El archivo common.scss guarda las variables comunes y funciones utilizadas 
en los documentos de css. Haciendo mas reutilizable el codigo escrito.
*/

$nav-backgroundColor: white;
$nav-fontColor: black;
//Footer
$foot-backgroundColor: black;
$foot-fontColor: white;

$card-borderColor: black;
