@use 'common' as common;
body {
  margin: 0%;
  padding: 0%;
}

.navbar {
  width: 100%;
  margin: 0%;
  padding: 0;
  background-color: common.$nav-backgroundColor;
  height: 48px;
  display: flex;
  align-items: center;
}

.navbar__elemento {
  display: inline;
  padding: 2px;
  margin-right: 20px;
}

.navbar--enlace {
  text-decoration: none;
  @include common.newFont("ExtraLightItalic", 22);
  text-decoration-style: none;
  color: common.$nav-fontColor;
}
.navbar__lista {
  width: 100%;
  margin-left: 10px;
}
#logIn {
  float: right;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    position:absolute;
    align-items: initial;
  }
  .navbar__elemento {
    display: inherit;
    margin: 0px;
  }
  #logIn {
    float: none;
  }
  .navbar__lista {
    margin: 0;
  }
}
