@use 'common' as common;
body{
    margin: 0%;
    padding: 0%;
}

.navbar{
    width: 100%;
    margin: 0%;
    padding: 0;
    background-color: common.$nav-backgroundColor;
    height: 48px;
    display: flex;
    align-items: center;
}

.navbar__elemento{
     display: inline;
     padding: 2px;
}

.navbar--enlace{
 text-decoration: none;
 font-size: x-large;
 text-decoration-style: none;
 color: common.$nav-fontColor;

}
.navbar__lista{
  position:left;
}
