@use 'common'as common;

body {
  margin: 0%;
  padding: 0%;

}

@mixin hidenButtons($className) {
  #{$className} {
    background-color: gray;
    border-style: none;
    padding: 10px;
    display: none;
    
  }
}

@include common.addFont("KoHo-Bold");

.navbar {
  width: 100%;
  margin: 0%;
  padding: 0;
  background-color: common.$nav-backgroundColor;
  height: 48px;
  display: flex;
  align-items: center;
  
}
@include hidenButtons('.navbar__button');
@include hidenButtons('.navbar__closeButton');
.navbar__elemento {
  display: inline;
  list-style: none;
  padding: 4px;
  border-style: ridge;
  border-color: white;
  border-width: thin;
  margin-right: 20px;
}

.navbar--enlace {
  text-decoration: none;
  text-decoration-style: none;
  color: common.$nav-fontColor;
}

.navbar__lista {
  width: 100%;
  margin-left: 10px;
}

#logIn {
  float: right;
  padding: 2px;
  border-style: ridge;
  border-color: whitesmoke;
  border-width: thin;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar__elemento {
    display: inherit;
    margin: 0px;
    padding: 0%;
  }

  #logIn {
    float: none;
  }

  .navbar__lista {
    margin: 0;
  }

  .navbar__button {
    display: inline-block;
  }

  .navbar--enlace {
    display: none;
    @include common.addFontStyle('22px', 'italy');
    margin-bottom: 10%;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .navbar__button {
     display: none;
  }
  .navbar__closeButton{
    display: none;
  }
}