%DOCTYPE
 %html
  %head
   %link{href:"./scss/css/main.css" ,rel:"stylesheet"}
  %body
   %nav.navbar
    %lu.navbar__lista 
     %li.navbar__elemento
      %a{href:"", alt:"Enlace a acerca de nosotros",class:"navbar--enlace"}Acerca de nosotros
     %li.navbar__elemento
      %a.navbar--enlace{href:"" ,alt:"Enlace a contactanos"}Contactanos
     %li.navbar__elemento
      %a.navbar--enlace{href:"" ,alt:"Enlace a productos"}Productos
     %li.navbar__elemento
      %a.navbar--enlace{href:"" ,alt:"Enlace para iniciar sesion"}Iniciar Sesion
   %section.introduction
    %img.introduction__image{src:"" ,id:"home-image"}
    %div.introduction__message
     %h2 "Bienvenido"
     %p Esta pagina esta enfoncada en que te mantegas a tanto de lo que pasa
    %section.introduction__explain
     %div.introduction__text
      %p 
    %div.introduction__logo
     %img{src:"./images/home_image.svg"}
   %section.cards
    %div.card__element
     %div.card__onLeft
      %h2.card__tittle Titulo
      %p.card__text 
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. 
       Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %div.card__element
     %h2.card__tittle Titulo
     %p.card__text
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. 
      Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   %footer.foot
    %div.foot__social_networks
     %h2 Social Network 
     %ul 
      %li 
       %a{href:"", alt:"Facebook icon"}
       %img{src:"", alt:"Facebook image"}
      %li 
       %a{href:"" ,alt:"Instagram icon"}
       %img{src:"", alt:"Instagram images"}
      %li
       %a{href:"" ,alt:"Twitter icon"}
       %img{src:"", alt:"Twitter icon"}
    %div.foot__credits
     %h2 Credists 
     %p
    %div.foot__contacts
     %h2 Contacts 
     %ul
      %li Contact 1
      %li Contact 2
      %li Contact 3
  %script{src:"js/model.js", type:"module"}
  %script{src:"js/app.js",type:"module"}

         
            
      