%DOCTYPE
 %html
  %head
   %link{href:"./scss/css/index.css" ,rel:"stylesheet"}
  %body
   %nav.navbar
    %lu.navbar__lista
     %li.navbar__elemento
      %a{href:"", alt:"Enlace a acerca de nosotros",class:"navbar--enlace"}Acerca de nosotros
      %button.navbar__button{onclick:'body.displayMenu()'} Menu
     %li.navbar__elemento
      %a.navbar--enlace{href:"" ,alt:"Enlace a contactanos"}Contactanos
     %li.navbar__elemento
      %a.navbar--enlace{href:"" ,alt:"Enlace a productos"}Productos
     %p.navbar__elemento
      %a.navbar--enlace{href:"logIn.html" ,alt:"Enlace para iniciar sesion",id:"logIn"}Iniciar Sesion
   %section.introduction
    %div.introduction__animation
     %div.firstCircle
     %div.secondCircle
     %div.thirdCircle
    %div.introduction__message
    %section.introduction__explain
     %div.introduction__text
      %h2.introduction__tittle lorem
      %p
       Aorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
       Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   %section.cards{id:'exclusive'}

   %footer.foot
    %div.foot__social_networks
     %h2 Social Network
     %ul
      %li
       %a{href:"", alt:"Facebook icon"}
       %img{src:"https://ik.imagekit.io/ereddhbkni/Icon/facebook_P3cLKq0JD.svg", alt:"Facebook image", class:"facebook-button"}
      %li
       %a{href:"" ,alt:"Instagram icon"}
       %img{src:"https://ik.imagekit.io/ereddhbkni/Icon/instagram_cashN9yQa.svg", alt:"Instagram images", class:"instagram-button"}
      %li
       %a{href:"" ,alt:"Twitter icon"}
       %img{src:"https://ik.imagekit.io/ereddhbkni/Icon/gorjeo_qP0-xgeLX.svg", alt:"Twitter icon", class:"twitter-button"}
    %div.foot__credits
     %h2 Credists
     %p
    %div.foot__contacts
     %h2 Contacts
     %ul
      %li Contact 1
      %li Contact 2
      %li Contact 3
      %script{src:"js/bundle-index.js",type:"module"}
