%DOCTYPE
 %html{:dir => "ltr", :lang => "en"}
  %head
   %link{:href => "./scss/css/main.css", :rel => "stylesheet"}
   %meta{:charset => "utf-8"}
   %title
  %body
   %div
    %label{:for => "fName"} First name:
    %input#fName{:name => "fname", :type => "text"}
   %div
    %label{:for => "sName"} Second name:
    %input#sName{:name => "sname", :type => "text"}
   %div
    %label{:for => "sName"} First Lastname:
    %input#fLastName{:name => "flastname", :type => "text"}
   %div
    %label{:for => "sName"} Second Lastname:
    %input#sLastName{:name => "slastname", :type => "text"}