!!!
%html{:dir => "ltr", :lang => "en"}
  %head
    %link{:href => "./scss/css/card.css", :rel => "stylesheet"}/
    %meta{:charset => "utf-8"}/
    %title
  %body
    .card-login
      %label{:for => "fName"} First name:
      %input#fName{:name => "fname", :type => "text"}/
      %label{:for => "sName"} Second name:
      %input#sName{:name => "sname", :type => "text"}/
      %label{:for => "sName"} First Lastname:
      %input#fLastName{:name => "flastname", :type => "text"}/
      %label{:for => "sName"} Second Lastname:
      %input#sLastName{:name => "slastname", :type => "text"}/