@use 'common' as common;
.cards{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   margin-left: 15%;
   margin-right: 15%;
}

.card__element{
    width: 99%;
    height: auto;
    padding: 20px;
    display: flex;
    border-style: ridge;
    flex-direction: row;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.card__tittle{
  text-align: center;
}

.card-login{
  display: flex;
  width: 100%;
  align-items: center;
  height: 400px;
  border-color: black;
  justify-content: center;
  flex-direction: column;
}

.card__text{
  text-align: justify;
  margin-left: 10px;
  @include common.newFont("ExtraLight",18);
}

.card__onLeft{
  order: 1;
  margin-right: 10px;
  height: 100%;
  width: 50%;
}

.card__onRight{
   order: 2;
   width: 50%;
}

@media (max-width: 600px){
  .cards{
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;

  }
  .card__element{
    flex-direction: column;
    padding: 0px;
    margin-left:0px;
    margin-right: 0px;
  }
  .card__onLeft{
    order: 2;
    width: 100%;
  }
  .card__onRight{
    order: 1;
    width: 100%;
  }
  .card__text{
    margin-left: 0px;
  }
}
