/*El archivo common.scss guarda las variables comunes y funciones utilizadas
en los documentos de css. Haciendo mas reutilizable el codigo escrito.
*/

$nav-backgroundColor: white;
$nav-fontColor: black;
//Footer
$foot-backgroundColor: black;
$foot-fontColor: white;

$card-borderColor: black;
@font-face{
    font-family:"Koho-Bold";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-Bold_pz5Gpih5E.ttf);
}
@font-face{
    font-family:"KoHo-BoldItalic";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-BoldItalic_JxRSADFdZ3.ttf);
}
@font-face{
      font-family:"KoHo-ExtraLight";
      src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-ExtraLight_7UJPD4xSq.ttf);
}
@font-face{
    font-family:"KoHo-ExtraLightItalic";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-ExtraLightItalic_vufgfVlcA.ttf);
}
@font-face{
    font-family:"KoHo-Italic";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-Italic_ABjQ5LU-8.ttf);
}
@font-face{
    font-family:"KoHo-Light";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-Light_ecrVeUVjs.ttf);
}
@font-face{
    font-family:"KoHo-LightItalic";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-LightItalic_aOzHqIVfC.ttf);
}
@font-face{
    font-family:"KoHo-Medium";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-Medium_UZw3AX-s_e.ttf);
}
@font-face{
    font-family:"KoHo-MediumItalic";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-MediumItalic_puS-Rx9Y7.ttf);
}
@font-face{
    font-family:"KoHo-Regular";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-Regular_R9EqVAEO-X.ttf);
}
@font-face{
    font-family:"KoHo-SemiBold";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-SemiBold_sRt8T2wv4.ttf);
}
@font-face{
    font-family:"KoHo-SemiBoldItalic";
    src: url(https://ik.imagekit.io/ereddhbkni/Font/KoHo-SemiBoldItalic_WN0-zdBUz.ttf);
}
@mixin newFont($name,$size){
  font-family: "KoHo-" + $name;
  font-size: $size+px;
}
/*@function addFontFamily($index){
  $fontStyles: "Bold","BoldItalic","ExtraLight","ExtraLightItalic","Italic","Light","LightItalic","Medium","MediumItalic","Regular","SemiBold","SemiBoldItalic";
  $directionUrl: "./fonts/KoHo-" + $fontStyles[$index];
  @return $fontStyles;
}*/
@mixin flexing(){
  float: flex;
}
