@use 'common' as common;
body {
  margin: 0%;
  padding: 0%;
}

.navbar {
  width: 100%;
  margin: 0%;
  padding: 0;
  background-color: common.$nav-backgroundColor;
  height: 48px;
  display: flex;
  align-items: center;
}

.navbar__elemento {
  display: inline;
  padding: 4px;
  border-style: ridge;
  border-color: white;
  border-width: thin;
  margin-right: 20px;
}

.navbar--enlace {
  text-decoration: none;
  @include common.newFont("ExtraLightItalic", 22);
  text-decoration-style: none;
  color: common.$nav-fontColor;
}
.navbar__lista {
  width: 100%;
  margin-left: 10px;
}
#logIn {
  float: right;
  padding: 2px;
  border-style: ridge;
  border-color: whitesmoke;
  border-width: thin;
}

.navbar__button{
  background-color: gray;
  border-style: none;
  padding: 10px;
  display: none;
}
.facebook-button{
  width: 20px;
  height: 20px;
}
.twitter-button{
  width: 20px;
  height: 20px;
}
.instagram-button{
  width: 20px;
  height: 20px;
}
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .navbar__elemento {
    display: inherit;
    margin: 0px;
  }
  #logIn {
    float: none;
  }
  .navbar__lista {
    margin: 0;
  }
  .navbar__button{
    display: inline-block;
  }
  .navbar--enlace{
    display: none;
  }
}
